@use '../abstract/' as *;

.footer{
    &__wrapper{
        background-color: $clr-section;
        @include grid(1);
        .footer3{
            iframe{ //reponsiveness
              max-width: 100%;
              height: auto;
              aspect-ratio: 16/9;
            }
        }
    }
    @include mediaQuery{
    &__wrapper{
        padding: 3rem 5rem;
        background-color: $clr-section;
        @include unevenGrid(1fr 1fr 2fr);
        grid-column-gap: 3rem;
        .footer1{
            .socials{

            }
        }
        .footer3{
            position: relative;
            iframe{
                position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            }
        }
    }
}
}